<!--div class="photo-list">
    <!--? for (var i = 0, length = obj.photos.length; i < length; i++) { -?>
        <div class="grid-photo-cell js-photo">
            <div data-imgpath="<?= obj.photos[i].imgPath ?>"
                 data-largeimgpath="<?= obj.photos[i].largeImgPath ?>"
                 data-width="<?= obj.photos[i].width ?>"
                 data-height="<?= obj.photos[i].height ?>"
            ></div>
        </div>
    <? } ?-->
<!--/div-->
fds