@charset "utf-8";

.large-photo {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 1;
    background: rgba(0, 0, 0, .75);
}

.large-photo-list-blk {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: transform .25s linear;
    -webkit-transition: transform .25s linear;
}

.grid-large-photo-cell {
    float: left;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}